<section class="advantages">
    <div class="list">
        <hr class="pointer"/>
        <div class="paragraph">
             10,000 zarejestrowanych opiekunów czeka na bezpośredni
             kontakt z poszukującymi opieki.
        </div>
        <hr class="pointer"/>
        <div class="paragraph">
             Gwarantujemy bezpieczeństwo przelewów pieniężnych oraz
             zapłatę za pracę, kontrakt reguluje współpracę.
        </div>
        <hr class="pointer"/>
        <div class="paragraph">
             Nie jesteśmy agencją. Nasza prowizja to jedynie 10% od ceny
             opieki pobierane od klienta. Dla opiekunek portal jest darmowy.
        </div>
        <hr class="pointer"/>
        <div class="paragraph">
             Samemu określasz długość płatnego okresu próbnego i okresu
            wypowiedzenia.
        </div>
        <hr class="pointer"/>
        <div class="paragraph">
             Oferujemy usługi dodatkowe: ubezpieczenie i assistance 24h
             poprzez konsultantów w Help Center oraz rabaty na kursy
             językowe i szkolenia opiekunów.
        </div>
        <hr class="pointer"/>
        <div class="paragraph">
             Pewność kogo zatrudniasz: przeprowadzamy interview pod kątem
             jezyków obcych, sprawdzamy referencje i ukończone dyplomy.
             Dodatkowo po każdej pracy wystawiane są opinie, także
             wybierając opiekuna bazujesz na doświadczeniach innych z
             wybraną osobą.
        </div>
    </div>
    <div class="interactive">
        <div class="interactive-text">
             Nasze Mocne
             Strony
        </div>
        <button class="advantages-btn">ZNAJDŹ OPIEKUNKĘ</button>
    </div>
</section>