<footer class="footer">
    <div class="contacts">
        <div class="footer-col">
            <div class="title-footer"> O portalu</div>

            <div class="contacts-item">Kim jesteśmy</div>
            <div class="contacts-item">O nas w mediach</div>
            <div class="contacts-item">Zasady i regulaminy</div>
        </div>
        <div class="footer-col">
            <div class="title-footer"> Współpraca</div>

            <div class="contacts-item">Zostań naszym partnerem</div>
            <div class="contacts-item">Praca</div>
            <div class="contacts-item"></div>
        </div>
        <div class="footer-col">
            <div class="title-footer"> Centrum Pomocy</div>

            <div class="contacts-item">Opiekunowie</div>
            <div class="contacts-item">Poszukujący opieki</div>
            <div class="contacts-item">Kontakt</div>
        </div>
    </div>

    <div class="social">
        <img class="footer-logo" src="../img/header_logo.png"/>
        <div class="icons">
            <span>Follow Us</span>
            <img class="social-icons" src="../img/footer_social_icon1.png">
            <img class="social-icons" src="../img/footer_social_icon2.png">
            <img class="social-icons" src="../img/footer_social_icon3.png">
        </div>
        <div class="social-text">© 2018 Geriana. All rights reserved.</div>
    </div>
</footer>