<section class="heading-section">
    <img class="section-img" src="../img/header_flow.png">
    <div class="heading-content-wrapper">
        <header class="header">
            <div class="part">
                <a href="">
                    <img class="header-img" src="../img/header_logo.png"/>
                </a>
                <button class="btn left">
                    <img class="question-mark-icon" src="../img/question-circle-solid.svg"/>
                    Help Center
                </button>
                <button class="btn left">Call Us</button>
            </div>
            <div class="part">
                <button class="btn">Sign Up</button>
                <button class="btn">Login</button>

                <button class="btn menu">
                    <span class="menu-burger">&#9776</span>
                    <span class="menu-text">Menu</span>
                </button>
                <div class="submenu">
                    <a class="submenu-item" href="">Sign Up</a>
                    <a class="submenu-item" href="">Login</a>
                    <a class="submenu-item" href="">Help Center</a>
                    <a class="submenu-item" href="">Call Us</a>
                </div>
            </div>
        </header>
        <div class="heading-content">
            <div class="heading-content-item big">Znajdź  opiekuna</div>
            <div class="heading-content-item medium">dla swoich najbliższych</div>
            <div class="heading-content-item small">
                Skontaktuj się bezpośrednio z jedną z <div>60,000 zarejestrowanych</div> opiekunek</div>
            <button class="heading-content-item search-btn">ZNAJDŹ OPIEKUNKĘ</button>
        </div>
    </div>
</section>