<section class="heading-section">
    <img class="heading-image" src="../img/header_flow.png">
    <div class="heading-content-wrapper">
        <header class="header">
            <div class="part">
                <img class="header-img" src="../img/header_logo.png"/>
                <button class="btn left help"> Help Center</button>
                <button class="btn left">Call Us</button>
            </div>
            <div class="part">
                <button class="btn">Sign Up</button>
                <button class="btn">Login</button>
                <button class="btn menu"> <span>&#9776</span> <span class="menu-text">Menu</span></button>
            </div>
        </header>
        <div class="heading-content">
            <div class="heading-content-item big">Znajdź  opiekuna</div>
            <div class="heading-content-item medium">dla swoich najbliższych</div>
            <div class="heading-content-item small">
                Skontaktuj się bezpośrednio z jedną z <span>60,000 zarejestrowanych<br/></span> opiekunek</div>
            <button class="heading-content-item search_btn small">ZNAJDŹ OPIEKUNKĘ</button>
        </div>
    </div>
</section>