<section class="instruction">
    <div class="left-col">
        Jak Działamy<br/> dla<br/> Poszukujących<br/> Opieki
        <button class="btn">ZNAJDŹ OPIEKUNKĘ</button>
    </div>

    <div class="right-col">
        <div class="item-all">
            <div class="item">
                <div class="item-header">
                    <img class="icon" src="../img/instruction_icon1.png"/>
                    Search a Caregiver
                </div>
                <div class="item-text">
                    <span>Ustalasz kryteria wyboru i</span>
                    <span>wyszukujesz opiekuna z</span>
                    <span>wymaganymi kwalifikacjami.</span>
                </div>
            </div>
            <img class="connection-arrow" src="../img/instruction-arrow.png"/>
        </div>

        <div class="item-all">
            <img class="connection-arrow arrow-left" src="../img/instruction-arrow.png"/>
            <div class="item right">
                <div class="item-header">
                    Select a Caregiver
                    <img class="icon" src="../img/instruction_icon2.png"/>
                </div>
                <div class="item-text">
                    <span>Decydujesz na podstawie</span>
                    <span>weryfikacji profilu i opinii inyych</span>
                    <span>osób o danej opiekunce.</span>
                    <span>Nawiązujesz współpracę z</span>
                    <span>wybraną osobą.</span>
                </div>
            </div>
        </div>

        <div class="item-all">
            <div class="item">
                <div class="item-header">
                    <img class="icon" src="../img/instruction_icon3.png"/>
                    Test Period
                </div>
                <div class="item-text">
                    <span>Opiekun rozpoczyna okres próbny</span>
                    <span>i jeśli jesteście zadowoleni,</span>
                    <span>zostaje na dłużej.</span>
                </div>
            </div>
            <img class="connection-arrow" src="../img/instruction-arrow.png"/>
        </div>

        <div class="item-all">
            <div class="item right">
                <div class="item-header">
                    Pay after Start
                    <img class="icon" src="../img/instruction_icon4.png"/>
                </div>
                <div class="item-text">
                    <span>Opiekun dostaje wynagrodzenie</span>
                    <span>dopieropo rozpoczęciu pracy. Po</span>
                    <span>zakonczeniu współpracy</span>
                    <span>wystawiasz opiekunowi opinię.</span>
                </div>
            </div>
        </div>
    </div>
</section>
