<section class="instruction">
    <div class="left-col">
        Jak Działamy<br/> dla<br/> Poszukujących<br/> Opieki
        <button class="btn">ZNAJDŹ OPIEKUNKĘ</button>
    </div>

    <div class="right-col">
        <div class="item-all">
            <div class="item">
                <div class="item-header">
                    <img class="icon" src="../img/instruction_icon1.svg"/>
                    Search a Caregiver
                </div>
                <div class="item-text">
                    Ustalasz kryteria wyboru i
                    wyszukujesz opiekuna z
                    wymaganymi kwalifikacjami.
                </div>
            </div>
            <div class="connection-arrow"></div>
        </div>

        <div class="item-all">
            <div class="connection-arrow arrow-left"></div>
            <div class="item right">
                <div class="item-header">
                    Select a Caregiver
                    <img class="icon" src="../img/instruction_icon2.svg"/>
                </div>
                <div class="item-text">
                    Decydujesz na podstawie
                    weryfikacji profilu i opinii inyych
                    osób o danej opiekunce.
                    Nawiązujesz współpracę z
                    wybraną osobą.
                </div>
            </div>
        </div>

        <div class="item-all">
            <div class="item">
                <div class="item-header">
                    <img class="icon" src="../img/instruction_icon3.svg"/>
                    Test Period
                </div>
                <div class="item-text">
                    Opiekun rozpoczyna okres próbny
                    i jeśli jesteście zadowoleni,
                    zostaje na dłużej.
                </div>
            </div>
            <div class="connection-arrow"></div>
        </div>

        <div class="item-all">
            <div class="item right">
                <div class="item-header">
                    Pay after Start
                    <img class="icon" src="../img/instruction_icon4.svg"/>
                </div>
                <div class="item-text">
                    Opiekun dostaje wynagrodzenie
                    dopieropo rozpoczęciu pracy. Po
                    zakonczeniu współpracy
                    wystawiasz opiekunowi opinię.
                </div>
            </div>
        </div>
    </div>
</section>
