<section class="recall-section">
    <div class="row">
        <div class="recall">
            <div class="recall-text">
                 Moja mama zachorowała jakiś czas temu i nie jest
                 już zupełnie samodzielna. Sama przestałam dawac
                 radę zajmować się własnym domem ..
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <div class="age">Aneta,39l</div>
                    Service Provider
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user2.png"/>
                </div>
            </div>
        </div>

        <div class="recall">
            <div class="recall-text">
                 Jestem zadowolona z korzystania z portalu. Nic
                mnie to nie kosztuje, a mam dostęp do ogłoszeń o
                 pracy z Polski i zagraicy. Byłam już w pracy ..
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <div class="age">Katarzhyna, 51lat</div>
                    Client
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user1.png"/>
                </div>
            </div>
        </div>

        <div class="recall">
            <div class="recall-text">
                 Moja mama zachorowała jakiś czas temu i nie jest
                 już zupełnie samodzielna. Sama przestałam dawac
                 radę zajmować się własnym domem ..
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <div class="age">Aneta,39l</div>
                    Service Provider
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user2.png"/>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="recall">
            <div class="recall-text">
                 Moja mama zachorowała jakiś czas temu i nie jest
                 już zupełnie samodzielna. Sama przestałam dawac
                 radę zajmować się własnym domem ..
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <div class="age">Aneta,39l</div>
                    Service Provider
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user2.png"/>
                </div>
            </div>
        </div>

        <div class="recall">
            <div class="recall-text">
                 Jestem zadowolona z korzystania z portalu. Nic
                mnie to nie kosztuje, a mam dostęp do ogłoszeń o
                 pracy z Polski i zagraicy. Byłam już w pracy ..
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <div class="age">Katarzhyna, 51lat</div>
                    Client
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user1.png"/>
                </div>
            </div>
        </div>

        <div class="recall">
            <div class="recall-text">
                 Moja mama zachorowała jakiś czas temu i nie jest
                 już zupełnie samodzielna. Sama przestałam dawac
                 radę zajmować się własnym domem ..
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <div class="age">Aneta,39l</div>
                    Service Provider
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user2.png"/>
                </div>
            </div>
        </div>

    </div>
</section>