<section class="recall-section">
    <div class="row">
        <div class="recall">
            <div class="recall-text">
                <span> Moja mama zachorowała jakiś czas temu i nie jest </span>
                <span> już zupełnie samodzielna. Sama przestałam dawac</span>
                <span> radę zajmować się własnym domem ..</span>
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <span class="age">Aneta,39l</span>
                    <span>Service Provider</span>
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user2.png"/>
                </div>
            </div>
        </div>

        <div class="recall">
            <div class="recall-text">
                <span> Jestem zadowolona z korzystania z portalu. Nic</span>
                <span>mnie to nie kosztuje, a mam dostęp do ogłoszeń o </span>
                <span> pracy z Polski i zagraicy. Byłam już w pracy ..</span>
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <span class="age">Katarzhyna, 51lat</span>
                    <span>Client</span>
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user1.png"/>
                </div>
            </div>
        </div>

        <div class="recall">
            <div class="recall-text">
                <span> Moja mama zachorowała jakiś czas temu i nie jest</span>
                <span> już zupełnie samodzielna. Sama przestałam dawac</span>
                <span> radę zajmować się własnym domem ..</span>
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <span class="age">Aneta,39l</span>
                    <span>Service Provider</span>
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user2.png"/>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="recall">
            <div class="recall-text">
                <span> Moja mama zachorowała jakiś czas temu i nie jest</span>
                <span> już zupełnie samodzielna. Sama przestałam dawac</span>
                <span> radę zajmować się własnym domem ..</span>
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <span class="age">Aneta,39l</span>
                    <span>Service Provider</span>
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user2.png"/>
                </div>
            </div>
        </div>

        <div class="recall">
            <div class="recall-text">
                <span> Jestem zadowolona z korzystania z portalu. Nic</span>
                <span>mnie to nie kosztuje, a mam dostęp do ogłoszeń o</span>
                <span> pracy z Polski i zagraicy. Byłam już w pracy ..</span>
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <span class="age">Katarzhyna, 51lat</span>
                    <span>Client</span>
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user1.png"/>
                </div>
            </div>
        </div>

        <div class="recall">
            <div class="recall-text">
                <span> Moja mama zachorowała jakiś czas temu i nie jest</span>
                <span> już zupełnie samodzielna. Sama przestałam dawac</span>
                <span> radę zajmować się własnym domem ..</span>
            </div>
            <div class="recall-user">
                <div class="user-cred">
                    <span class="age">Aneta,39l</span>
                    <span>Service Provider</span>
                </div>
                <div class="avatar">
                    <img src="../img/recall_icon_user2.png"/>
                </div>
            </div>
        </div>

    </div>
    </div>
</section>