<section class="specialists">
    <div class="specialists-header">Specjaliści Różnych Kategorii</div>
    <div class="content">
        <div class="column">
            <div class="service-type"><img src="../img/specialists_1.png"></div>
            <div class="service-type middle">
                <span>Opiekunowie</span>
                <span>z doświadczeniem</span>
            </div>
            <div class="service-type small">
                <span>10,000 zarejestrowanych opiekunów</span>
                <span>czeka na bezpośredni kontakt z</span>
                <span>poszukującymi opieki</span>
            </div>
        </div>
        <div class="column">
            <div class="service-type"><img src="../img/specialists_2.png"></div>
            <div class="service-type middle">
                <span>Masażyści</span>
            </div>
            <div class="service-type small">
                <span>10,000 zarejestrowanych opiekunów</span>
                <span>czeka na bezpośredni kontakt z</span>
                <span>poszukującymi opieki</span>
            </div>
        </div>
        <div class="column">
            <div class="service-type"><img src="../img/specialists_3.png"></div>
            <div class="service-type middle">
                <span>Pielęgniarkii opiekunowie</span>
                <span>medyczni</span>
            </div>
            <div class="service-type small">
                <span>10,000 zarejestrowanych opiekunów</span>
                <span>czeka na bezpośredni kontakt z</span>
                <span>poszukującymi opieki</span>
            </div>
        </div>
        <div class="column">
            <div class="service-type"><img src="../img/specialists_4.png"></div>
            <div class="service-type middle">
                <span>Fizjoterapeuci</span>
            </div>
            <div class="service-type small">
                <span>10,000 zarejestrowanych opiekunów</span>
                <span>czeka na bezpośredni kontakt z</span>
                <span>poszukującymi opieki</span>
            </div>
        </div>
    </div>
</section>