<section class="specialists">
    <div class="specialists-header">Specjaliści Różnych Kategorii</div>
    <div class="content">
        <div class="column">
            <div class="service-type img specialist1"></div>
            <div class="service-type middle">
                Opiekunowie z doświadczeniem
            </div>
            <div class="service-type small">
                10,000 zarejestrowanych opiekunów czeka na bezpośredni kontakt z poszukującymi opieki
            </div>
        </div>
        <div class="column">
            <div class="service-type img specialist2"></div>
            <div class="service-type middle">
               Masażyści
            </div>
            <div class="service-type small">
                10,000 zarejestrowanych opiekunów czeka na bezpośredni kontakt z poszukującymi opieki
            </div>
        </div>
        <div class="column">
            <div class="service-type img specialist3"></div>
            <div class="service-type middle">
                Pielęgniarkii opiekunowie medyczni
            </div>
            <div class="service-type small">
                10,000 zarejestrowanych opiekunów czeka na bezpośredni kontakt z poszukującymi opieki
            </div>
        </div>
        <div class="column">
            <div class="service-type img specialist4"></div>
            <div class="service-type middle">
                Fizjoterapeuci
            </div>
            <div class="service-type small">
                10,000 zarejestrowanych opiekunów czeka na bezpośredni kontakt z poszukującymi opieki
            </div>
        </div>
    </div>
</section>