@import "../media";

.advantages {
  background: #025173 url('../../img/advantages_flow.png') no-repeat bottom;
  display: flex;
  flex-direction: row;
  padding: 160px 0;

  @include respond-to(phonePortrait, phoneLandscape) {
    flex-direction: column;
    background-size: contain;
  }

  .list {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    .pointer {
      width: 10%;
      size: 5px;
      color: aquamarine;
      border-color: aquamarine;
      margin-bottom: 2%;
    }
    .paragraph {
      font: 16px "Maven Pro Bold";
      color: #ffffff;
      margin-bottom: 5%;
    }
  }

  .interactive {
    display: flex;
    flex-direction: column;
    font: bold 80px "Maven Pro Black";
    @include respond-to(phonePortrait, phoneLandscape) {
      font: bold 50px "Maven Pro Black";
    }
    color: #ffffff;
    padding: 7% 15%;
    .interactive-text {
      padding-bottom: 10%;
    }
    .advantages-btn {
      background: rgba(0, 0, 0, 0);
      width: 250px;
      height: 70px;
      margin: 0 3px;
      color: #ffffff;
      outline: none;
      border: #ffffff solid;
      border-width: 1px 2px;
      border-radius: 6px;
      font: bold 18px "Maven Pro Regular";
    }
  }
}
