@import '../media';

.footer {
  background-color: #0B2A37;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 80px 20px 90px 20px;
  color: white;

  @include respond-to(phonePortrait, phoneLandscape) {
    flex-direction: column;
  }

  .social {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 22px;
    padding-top: 20px;
    .footer-logo{
      width: 274px;
      align-self: center;
    }
    .icons {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      @include respond-to(phonePortrait, phoneLandscape) {
        justify-content: center;
      }
      .social-icons {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        &:hover {
          background-color: rgba(255, 255, 255, .3);
          transition: 1.5s background-color;
        }
      }
    }
    .social-text {
      font-size: 14px;
      font-weight: 400;
      color: #85959B;
      @include respond-to(phonePortrait, phoneLandscape) {
        text-align: center;
      }
    }
  }

  .contacts {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    .footer-col {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      color: #85959B;
      width: 22%;
      margin-left: 10px;

      .title-footer {
        font-weight: 700;
        font-size: 22px;
        color: #ffffff;
        margin-bottom: 10px;
        @include respond-to(tabletPortrait) {
          font-size: 16px;
        }
      }
      .contacts-item {
        margin-bottom: 10px;
        color: #ffffff;
        text-decoration: none;
      }
    }

    @include respond-to(phonePortrait, phoneLandscape) {
      flex-direction: column;
      width: 100%;
      .footer-col {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
    }
    @include respond-to(tabletPortrait) {
      font-size: 14px;
    }
  }
}
