@import "../media";

.heading-section {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;

  .heading-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    bottom:0;

    .header {
      display: flex;
      position: fixed;
      background-color: rgba(0, 0, 0, 0);
      z-index: 1;
      flex-wrap: wrap;
      width: 100%;
      padding: 10px;
      align-items: center;
      justify-content: space-between;
      color: #ffffff;
      &.header-scrolled{
        background-color: rgba(0, 0, 0, 0.3);
      }

      .header-img {
        margin-right: 15px;
        @include respond-to(phonePortrait, phoneLandscape, tabletPortrait) {
          max-width: 150px;
        }
      }

      .part {
        display: flex;
        align-items: center;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0);
        min-width: 100px;
        min-height: 36px;
        margin: 0 10px;
        border: none;
        color: #ffffff;
        outline: none;
        font-size: 16px;
        padding: 0 5px;
        border-radius: 10px;

        &:hover {
          background-color: rgba(255, 255, 255, .3);
          transition: 1.5s background-color;
        }

        &.left {
          border: #ffffff solid;
          border-width: 1px 2px;
          font-weight: 700;
          font-size: 16px;
          color: #ffffff;
        }

        &.menu {
          display: flex;
          align-items: center;
          pointer-events: none;
          .menu-burger {
            margin-top: -5px;
            font-size: 40px;
          }
          .menu-text{
            height: 100%;
            padding-left: 5px;
          }
        }

        .question-mark-icon {
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }

        @include respond-to(phonePortrait, phoneLandscape, tabletPortrait) {
          &.menu {
            display: flex;
            pointer-events: initial;
            width: 40px;
            justify-content: flex-end;
            .menu-text {
              display: none;
            }
          }
          &:not(.menu) {
            display: none;
          }
        }
      }
      .submenu {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        top: 100%;
        right: 0;
        width: 40%;
        z-index: 1;
        transition: .5s ease-in-out;
        font-weight: 700;
        font-size: 20px;
        .submenu-item {
          background-color: rgba(0, 0, 0, 0.5);
          border: rgba(22, 41, 55, 0.5) solid;
          width: 100%;
          text-decoration: none;
          text-align: left;
          color: #ffffff;
          padding: 15px;
        }
        .submenu-item:hover {
          background-color: blueviolet;
        }
      }

      @include respond-to(phonePortrait, phoneLandscape, tabletPortrait) {
        padding: 0 0 0 10px;
      }
    }

    .heading-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      margin-top: 30px;
      height: 100%;
      .search-btn {
        border: rgb(255, 81, 81) solid;
        border-radius: 6px;
        background-color: rgb(255, 81, 81);
        width: 290px;
        height: 70px;
        align-self: center;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        &:hover {
          background-color: rgba(255, 255, 255, .3);
          transition: 1.5s background-color;
        }

        @include respond-to(tabletLandscape) {
          width: 250px;
          height: 90px;
        }
        @include respond-to(tabletPortrait) {
          width: 200px;
          height: 65px;
          font-size: 17px;
        }
        @include respond-to(phoneLandscape) {
          width: 170px;
          height: 50px;
          font-size: 14px;
        }
        @include respond-to(phonePortrait) {
          width: 140px;
          height: 35px;
          font-size: 12px;
        }
      }
      .heading-content-item {
        margin: 10px 0;
        text-align: center;
      }
      .big {
        font-weight: 900;
        font-size: 80px;
        color: aquamarine;
        @include respond-to(tabletLandscape) {
          font-size: 65px;
        }
        @include respond-to(tabletPortrait) {
          font-size: 45px;
        }
        @include respond-to(phoneLandscape) {
          font-size: 30px;
          margin: 3px;
        }
        @include respond-to(phonePortrait) {
          font-size: 20px;
          margin: 1px;
        }
      }
      .medium {
        font-weight: 900;
        font-size: 58px;
        color: #ffffff;
        @include respond-to(tabletPortrait) {
          font-size: 35px;
        }
        @include respond-to(phoneLandscape) {
          font-size: 30px;
          margin: 3px
        }
        @include respond-to(phonePortrait) {
          font-size: 18px;
          margin: 1px
        }
      }
      .small {
        font-size: 26px;
        color: #ffffff;
        text-align: center;
        @include respond-to(phonePortrait, phoneLandscape) {
          font-size: 16px;
          margin: 3px;
        }
        div {
          font-weight: 700;
          font-size: 26px;
          color: aquamarine;
          @include respond-to(phonePortrait, phoneLandscape) {
            font-size: 16px;
          }
        }
      }
    }
  }
}