.search-scope {
  padding: 2% 0 2% 0;
  background-color: rgb(223, 240, 240);
  text-align: center;
  font: 18px "Maven Pro Black";
  a {
    color: cyan;
    text-decoration: underline;
    margin-left: .5%;
  }
}