@import "../media";

.search-scope {
  padding: 25px 0 25px 0;
  background-color: rgb(223, 240, 240);
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  a {
    color: cyan;
    text-decoration: underline;
    margin-left: 5px;
    font-weight: 700;
    font-size: 18px;
  }
  a:visited{
    color: blueviolet;
  }
  @include respond-to(phonePortrait, phoneLandscape, tabletPortrait){
    text-align: center;
  }
}