@font-face {
  font-family: 'Maven Pro Black';
  font-style: normal;
  src:  url('../fonts/mavenpro/Mavenpro-Black.ttf') format('font-truetype');
}

@font-face {
  font-family: 'Maven Pro Bold';
  font-style: normal;
  src: url('../fonts/mavenpro/Mavenpro-Bold.ttf') format('font-truetype');
}

@font-face {
  font-family: 'Maven Pro Medium';
  font-style: normal;
  src: url('../fonts/mavenpro/Mavenpro-Medium.ttf') format('font-truetype');
}

@font-face {
  font-family: 'Maven Pro Regular';
  font-style: normal;
  src: url('../fonts/mavenpro/Mavenpro-Regular.ttf') format('font-truetype');
}